.about-page {
  .team-member {
    clear: left;
    overflow: hidden;

    .photo {
      float: left;
      width: 50px;
    }

    .description {
      float: left;
      margin-left: 20px;
      width: 550px;
    }
  }
}
