.about-page {
  h2 {
    font-size: 16px;
  }

  figure {
    color: $red;
    font-weight: bold;
    font-size: 10px;
    margin: 0;
    text-align: center;

    &.right {
      clear: right;
      margin: 5px 0 5px 10px;
      float: right;
      width: 33%;
    }

    img {
      max-width: 100%;
    }
  }

  .team-member {
    clear: left;
    margin-bottom: 10px;
    overflow: hidden;

    .photo {
      float: left;
      width: 50px;
    }

    .description {
      float: left;
      margin-left: 20px;
      width: 550px;
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 5px 0 0;
    }
  }
}
