.classification-tools {
  label {
    cursor: pointer;
    display: block;

    > input {
      position: absolute;
      visibility: hidden;
    }

    &.for-favorite,
    &.for-sign-in {
      font-size: 12px;
      text-align: center;
    }
  }

  .label {
    border-top: 1px solid rgba($white, 0.2);
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;

    &:hover {
      background: rgba($black, 0.2);
    }

  }

  :checked + .label {
    background: rgba($white, 0.1);
  }

  :disabled + .label {
    opacity: 0.5;
    pointer-events: none;
  }

  .finish,
  .followup {
    // margin-top: 15px;
  }

  button,
  .followup a {
    @extends #push-button;
    display: inline-block;
    margin: 3px 0;
    width: 100%;

    &:hover {
      background: $light-blue;
    }
  }

  .share {
    clearfix();

    a {
      float: left;
      width: 48%;

      &:first-child {
        margin-right: 4%;
      }
    }
  }
}
