.classify-page {
  color: $white;

  .subject-container {
    height: 648px;
    margin: 40px 0 0 0;
    position: relative;
    transform: translateZ(0);
    width: 840px;

    .delete-button {
      background: rgba($black, 0.9);
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      display: block;
      height: 14px;
      line-height: 11px;
      margin: -7px 0 0 -7px;
      position: absolute;
      text-align: center;
      width: 14px;

      &:hover {
        background: $red;
      }

      .touch & {
        height: 40px;
        font-size: 30px;
        line-height: 32px
        margin: -20px 0 0 -20px;
        width: 40px;
      }
    }
  }

  .subject {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .fan-tool-options {
    display: none;
  }

  footer {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;

    .help {
      float: right;
      text-align: right;
    }

    a,
    button {
      color: inherit;
      text-decoration: underline;
    }
  }

  &.signed-in .sign-in-prompt {
    display: none;
  }
}
