$black = #000;
$white = #fff;

$red = #962300;
$blue = #101d22;

$sans = "Helvetica Neue", Arial, Helvetica, sans-serif;

#standard-button {
  background: $red;
  color: $white;
  display: inline-block;
  font-weight: bold;
  padding: 2px 10px;
  text-decoration: none;
}
