@keyframes rotate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes float-around {
  0% {
    margin: -10px 0 0 -20px;
  }

  25% {
    margin: 10px 0 0 10px;
  }

  50% {
    margin: -10px 0 0 20px;
  }

  75% {
    margin: 10px 0 0 -10px;
  }

  100% {
    margin: -10px 0 0 -20px;
  }
}

.home-page {
  overflow: hidden;
  padding-top: 275px;

  .planet {
    // animation: rotate 120s linear infinite;
    background: url("images/home/mars-map.jpg") 125% 0;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0 75px $black inset, -100px -25px 150px $black inset, 5px 25px 25px -15px $black;
    height: 800px;
    left: 50%;
    margin: -575px 0 0 -400px;
    position: absolute;
    top: 0;
    width: 800px;
  }

  .satellite {
    // animation: float-around 30s ease-in-out infinite;
    background: url("images/home/satellite.png");
    height: 102px;
    position: absolute;
    right: 40px;
    top: 100px;
    width: 78px;
  }

  h1 {
    font-size: 38px;
    margin: 0;
  }

  .content {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    width: 530px;
  }

  .counter {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    > strong {
      display: block;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 0;
    }
  }

  .column {
    border-left: 1px solid rgba($black, 0.75);
    height: 40px;

    &:first-child {
      border-left: 0;
    }
  }
}
