@keyframes rotate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes float-around {
  0% {
    margin-left: -400px;
    transform: scale(0.5);
    z-index: 3;
  }

  25% {
    transform: scale(1);
  }

  50% {
    margin-left: 350px;
    transform: scale(0.5);
    z-index: 3;
  }

  51% {
    z-index: 1;
  }

  75% {
    transform: scale(0.25);
  }

  100% {
    margin-left: -400px;
    transform: scale(0.5);
    z-index: 1;
  }
}

.home-page {
  overflow: hidden;
  margin-left: -100px;
  padding-top: 275px;
  position: relative;

  .planet {
    background: url("images/home/mars-map.jpg") 125% 0;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0 75px $black inset, -100px -25px 150px $black inset;
    height: 800px;
    left: 50%;
    margin: -575px 0 0 -400px;
    position: absolute;
    top: 0;
    width: 800px;
    z-index: 2;
  }

  &.active .planet {
    animation: rotate 120s linear infinite;
  }

  .satellite {
    background: url("images/home/satellite.png");
    height: 102px;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 78px;
  }

  &.active .satellite {
    animation: float-around 25s ease-in-out infinite;
  }

  .content {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    width: 530px;
  }

  h1 {
    font-size: 38px;
    margin: 0 0 20px;
  }

  p {
    margin: 10px 0;
  }

  .column {
    border-left: 1px solid rgba($black, 0.75);
    height: 40px;
    margin-top: 20px;
    padding: 0 10px;

    &:first-child {
      border-left: 0;
    }
  }

  .counter {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    > strong {
      display: block;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 0;
    }
  }

  .explore {
    @extends #standard-button;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
    width: 100%;
  }
}
