@import '../node_modules/nib/index';
@import 'common';

@import '../node_modules/zootorial/css/zootorial';

@import 'layout';
@import 'navigation';
@import 'home_page';
@import 'classify_page';
@import 'classification_tools';
@import 'about_page';
@import 'tutorial';