html {
  background: $blue;
  font: 14px $sans;
  height: 100%;
  overflow-y: scroll;
}

body {
  background: url("images/backdrop.jpg") center bottom fixed;
  background-size: cover;
  box-sizing: border-box;
  border-bottom: 4px solid $blue;
  border-top: 0;
  color: $blue;
  margin: 0 4px;
  min-height: 100%;
  padding-bottom: 100px;

  .on-classify & {
    background: $blue;
    padding-bottom: 0;
  }
}

.zooniverse-top-bar {
  background: $blue;
  box-shadow: none;
  color: $white;
  text-shadow: none;

  #zooniverse-top-bar-container {
    border-bottom-color: rgba($white, 0.25);

    input,
    button {
      box-shadow: none;
    }
  }

  #zooniverse-top-bar-button {
    border-color: rgba($white, 0.25);
    border-radius: 0;
  }
}

#app {
  clearfix();
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1024px;
}

.app-navigation {
  float: left;
  margin: 60px 24px 0 24px;
  position: relative;
  width: 130px;
  z-index: 1;
}

.app-main {
  float: left;
  position: relative;
  width: 840px;

  > * {
    display: none;

    &.active {
      display: block;
    }
  }
}

.columns {
  clearfix();

  .column {
    box-sizing: border-box;
    float: left;

    &.one-third {
      width: 33.33%;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba($blue, 0.75);
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}
