html {
  background: $blue;
  font: 14px $sans;
  height: 100%;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  border-bottom: 4px solid $blue;
  border-top: 5px solid #000
  color: $blue;
  margin: 0;
  min-height: 100%;
  padding: 0 4px 100px;

  .on-classify & {
    padding-bottom: 0;
  }
}

#background {
  background: url("images/backdrop.jpg") center bottom fixed;
  background-size: cover;
  bottom: 4px;
  left: 4px;
  opacity: 1;
  position: fixed;
  right: 4px;
  top: 4px;
  transition: opacity 0.5s ease-in-out;

  .on-classify & {
    opacity: 0;
  }
}

#app {
  clearfix();
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1024px;
}

.app-navigation {
  float: left;
  margin: 60px 24px 0 24px;
  position: relative;
  width: 130px;
  z-index: 1;
}

.app-main {
  float: left;
  position: relative;
  width: 840px;

  > * {
    display: none;

    &.active {
      display: block;
    }
  }
}

.columns {
  clearfix();

  .column {
    box-sizing: border-box;
    float: left;

    &.one-third {
      width: 33.33%;
    }

    &.one-half {
      width: 50%;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba($blue, 0.75);
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;

  &:disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}

a {
  color: $red;

  img {
    border: 0;
  }
}
