html {
  background: $blue;
  font: 14px $sans;
  height: 100%;
  overflow-y: scroll;
}

body {
  background: url("images/backdrop.jpg") center bottom;
  background-size: cover;
  box-sizing: border-box;
  color: $blue;
  margin: 4px; // TODO: This kinda screws up scrolling.
  min-height: 100%;
  padding-bottom: 200px;

  .on-classify & {
    background: $blue;
    padding-bottom: 0;
  }
}

#app {
  clearfix();
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1024px;
}

.app-navigation {
  float: left;
  margin: 40px 24px 0 24px;
  position: relative;
  width: 130px;
  z-index: 1;
}

.app-main {
  float: left;
  position: relative;
  width: 840px;

  > * {
    display: none;

    &.active {
      display: block;
    }
  }
}

.columns {
  clearfix();

  .column {
    box-sizing: border-box;
    float: left;

    &.one-third {
      width: 33.33%;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba($blue, 0.75);
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}
