.app-navigation {
  color: $red;
  height: 585px;
  transition: color 0.25s ease-in-out;

  .on-classify & {
    color: $white;
  }

  .section {
    background: rgba($white, 0.7);
    border-top: 1px solid transparent;
    box-shadow: 0 1px 3px -2px rgba($black, 0.5);
    margin-bottom: 5px;
    transition: background 0.5s ease-in-out;

    .on-classify & {
      background: transparent;
      border-top-color: rgba($white, 0.2);
      box-shadow: none;
      opacity: 0.5;

      &:first-child {
        border-top-color: transparent;
      }

      &.logo {
        opacity: 1;
      }

      &.classify {
        opacity: 1;

        & > a {
          opacity: 0.5;
        }
      }
    }

    > .expando {
      // Height is changed in navigation controller.
      overflow: hidden;
    }

    > a {
      display: block;
      font-weight: bold;
      padding: 8px 20px;
    }
  }

  .navigation-logo {
    background: url("images/logo.png") 18px 8px no-repeat;
    height: 39px;
    letter-spacing: -3em;
    text-indent: -3em;
    overflow: hidden;

    .on-classify & {
      background-position: 18px -72px;
      opacity: 1;
    }
  }

  .sub-nav > a {
    border-top: 1px solid rgba($black, 0.08);
    box-shadow: 0 1px 0 $white inset;
    color: $blue;
    display: block;
    font-size: 11px;
    font-weight: 500;
    padding: 6px 20px;

    &:hover {
      background: $white;
    }

    &.active {
      color: $red;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      background-color: $white;

      .on-classify & {
        background-color: transparent;
      }
    }
  }
}
