.app-navigation {
  color: $red;

  .on-classify & {
    color: $white;
  }

  .section {
    background: rgba($white, 0.8);
    border-top: 1px solid transparent;
    box-shadow: 0 1px 3px -2px rgba($black, 0.5);
    margin-bottom: 5px;

    .on-classify & {
      background: transparent;
      border-top-color: rgba($white, 0.2);
      box-shadow: none;
      opacity: 0.5;

      &:first-child {
        border-top-color: transparent;
      }

      &.classify {
        opacity: 1;
      }
    }

    > .expando {
      display: none;
    }

    &.active > .expando {
      display: block;
    }

    > a {
      display: block;
      font-weight: bold;
      padding: 8px 20px;
    }
  }

  .navigation-logo {
    background: url("images/logo.png") 18px 8px no-repeat;
    height: 39px;
    letter-spacing: -3em;
    text-indent: -3em;
    overflow: hidden;

    .on-classify & {
      background-position: 18px -70px;
    }
  }

  .sub-nav > a {
    border-top: 1px solid rgba($black, 0.1);
    box-shadow: 0 1px 0 $white inset;
    display: block;
    font-size: 12px;
    padding: 3px 20px;

    &:hover {
      background: $white;
    }

    &.active {
      color: $blue;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      background-color: $white;

      .on-classify & {
        background-color: transparent;
      }
    }
  }
}
