.sub-page {
  background: rgba($white, 0.8);
  display: none;
  font-size: 12px;
  line-height: 1.6;
  padding: 60px 100px;

  &.active {
    display: block;
  }

  h1 {
    font-size: 28px;
    line-height: normal;
  }

  h2 {
    font-size: 16px;
  }
}
