.zootorial-dialog.tutorial {
  background: $black;
  border-radius: 5px;
  color: $white;
  padding: 20px;

  button[name="close"] {
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    margin: 0 0 10px;
  }
}
