.zootorial-dialog.tutorial {
  background: $blue;
  border: 1px solid $black;
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba($white, 0.2) inset, 0 1px 6px rgba($black, 0.4);
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  max-width: 33%;
  padding: 20px;
  transition: left 0.5s ease-in-out, top 0.33s ease-in-out;

  button[name="close"] {
    height: 1.25em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.25em;
  }

  p {
    margin: 0 0 10px;
  }

  .header {
    font-weight: bold;
  }

  .footer {
    text-align: center;

    button {
      @extend #push-button;
      padding: 3px 20px
    }
  }
}

.zootorial-focuser {
  transition: opacity 0.5s ease-in-out;
  background: rgba($black, 0.5);
}
